body
{
    font-size:        62.5%; 
    margin:           0;
    padding:          0;
    background-color: #FFFFFF;
    font-family:      'lucida grande', arial, tahoma, sans-serif;
}

#container
{
    margin:           0 auto;
    padding-top:      20px;
    width:            700px;
    position:         relative;
    background-color: #FFFFFF;
}

#header
{
    margin:           0 0;
    padding:          0 0;
    float:            center;
    height:           45px;
    background-color: #FFFFFF;

}

.headtitle
{
    position:        relative;
    font-family:     Times;
    font-size:       34px;
    color:           #434343;
}

#menu
{
    margin:           0 0;
    float:            center;
    padding:          6px 0 0 0;
    background-color: #FFFFFF;


    border-bottom-style: solid;
    border-width:        3px;
    border-color:        #434343;
}

#menu a:link, #menu a:active, #menu a:visited, #menu a:hover
{
    color:           #434343;
    padding:         0 0 0 0;
    margin:          0 10px 0 0;
    font-size:       1.2em;
    font-family:     'lucida grande', arial, sans-serif;
    font-weight:     bold;
    text-decoration: none;
}

#content
{
    float:              center;
    margin:             0 0;
    background-color:   #FFFFFF;
    padding-bottom:     20px;
}

#insidecontent p, ul, li
{
    color:           #434343;
    font-family:     Tahoma;
    font-size:       1.2em;
    line-height:     170%;
    margin:          5px 0;
}

h1
{
	margin:          0;
	font-weight:     bold;
	color:           #434343;
    margin:          5px 0;
}

h2
{
    margin:          0;
    font-weight:     bold;
    color:           #434343;
    margin:          5px 0;
}

#footer
{
    margin:          0 auto;
}

#footer span
{
    display:         block;
    position:        relative;
    font-family:     Tahoma;
    font-size:       1.2em;
    color:           #434343;
}